*{
    margin: 0px;
    padding: 0px;
}

.item{
    
    height: 100%;
    margin: auto 10px;
    border-radius: 10px;
    background-color: #5555552c;
}
.item-heading{
    width: 100%;
    white-space: nowrap; /* Ensures that the text does not wrap to the next line */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px !important;
}


.initem img{
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}
.item h5{
    font-size: 20px;
    padding: 0px 10px;
    
}

.item p{
    padding: 0px 10px;
}
.react-multiple-carousel__arrow--left{
    top: 40%;
}
.react-multiple-carousel__arrow--right{
    top: 40%;
}